.horizontal,
.vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  &:last-child {
    border: 0;
  }
  @include breakpoint("phone-tablet") {
    border-bottom: 0;
  }
  transition: background 0.3s;
  &:hover {
    background-color: #f2f2f2;
    transition: background 0.3s;
  }
  .column {
    display: flex;
    align-items: center;
    .user {
      margin-left: 10px;
      .username {
        font-weight: 600;
      }
      .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    .bigAvatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 1px solid #ddd;
    }
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #ddd;
    }
    .button {
      @include blueButton();
    }
  }
}

.horizontal {
  &:last-child {
    border: 0;
  }
}

.vertical {
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 220px;
  @include boxBorder(yes);
  .column {
    flex-direction: column;
    .avatar {
      width: 78px;
      margin-bottom: 20px;
    }
    .user {
      text-align: center;
      margin: 0;
      .username {
        margin-bottom: 7px;
      }
    }
  }
  .button {
    margin-top: 15px;
    min-width: 95px;
  }
}
